{% extends 'base_auth_pages.html' %}
{% load i18n %}

{% block title %}
  {% trans 'تغییر رمز عبور' %}
{% endblock %}

{% block content %}
  <div class="auth-wrapper form-ui border pt-4">
    <div class="circle-box-icon">
      <i class="mdi mdi-account-circle-outline"></i>
    </div>
    <h5 class="text-center font-weight-bold">{% trans 'ایمیل با موفقیت برای شما ارسال شد' %}</h5>
    <div class="message-light">{% trans 'اکنون می توانید وارد صفحه ایمیل خود شوید و بر روی لینک ارسال شده کلیک کنید' %}</div>
    {# <div class="text-center mt-5 mb-4"> #}
    {# <a href="#" class="btn-primary-cm btn-with-icon"> #}
    {# <i class="mdi mdi-account-circle-outline"></i> #}
    {# تکمیل حساب کاربری #}
    {# </a> #}
    {# </div> #}
  </div>
  <!-- End main-content -->
{% endblock %}
