{% extends 'base_auth_pages.html' %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}
                        <div class="auth-wrapper form-ui border pt-4">
                            <div class="section-title title-wide mb-1 no-after-title-wide">
                                <h2 class="font-weight-bold">ورود</h2>
                            </div>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="form-row-title">
                                    <h3>ایمیل خود را وارد کنید</h3>
                                </div>
                                <div class="form-row with-icon">
                                    <input name="email" type="text" class="input-ui pr-2"
                                        placeholder="ایمیل خود را وارد کنید">
                                    <i class="mdi mdi-account-circle-outline"></i>
                                </div>
                                <div class="form-row mt-3">
                                    <button class="btn-primary-cm btn-with-icon mx-auto w-100">
                                        <i class="mdi mdi-login-variant"></i>
                                       ارسال ایمیل
                                    </button>
                                </div>
                            </form>
                            <div class="form-footer mt-3">
                                <div>
                                    <span class="font-weight-bold">کاربر جدید هستید؟</span>
                                    <a href="#" class="mr-3 mt-2">ثبت نام در دیدیکالا</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End main-content -->
{% endblock content %}