{% extends 'base_auth_pages.html' %}

{% block title %}
  تغییر رمز عبور
{% endblock %}

{% block content %}
  <div class="auth-wrapper form-ui border pt-4">
    <div class="circle-box-icon">
      <i class="mdi mdi-account-circle-outline"></i>
    </div>
    <h5 class="text-center font-weight-bold">رمز عبور شما با موفقیت تغییر کرد</h5>
    <div class="message-light">
      اکنون می توانید وارد صفحه ورود شوید.
      <a href="{% url 'core:login_view' %}">صفحه ورود</a>
    </div>
  </div>
  <!-- End main-content -->
{% endblock %}
