{% extends 'base_auth_pages.html' %}

{% block title %}
  تغییر رمز عبور
{% endblock %}

{% block content %}
  <div class="auth-wrapper form-ui border pt-4">
    <div class="section-title title-wide mb-1 no-after-title-wide">
      <h2 class="font-weight-bold">فراموشی رمز عبور</h2>
    </div>
    <form action="#" method="POST">
      {% csrf_token %}
      <div class="form-row-title">
        <h3>رمز عبور جدید</h3>
      </div>
      <div class="form-row with-icon">
        <input name="new_password1" type="text" class="input-ui pr-2" placeholder="رمز عبور جدید" />
        <i class="mdi mdi-account-circle-outline"></i>
      </div>
      <div class="form-row-title">
        <h3>تکرار رمز عبور</h3>
      </div>
      <div class="form-row with-icon">
        <input name="new_password2" type="password" class="input-ui pr-2" placeholder="رمز عبور خود را دوباره وارد کنید" />
        <i class="mdi mdi-lock-open-variant-outline"></i>
      </div>

      <div class="form-row mt-3">
        <button class="btn-primary-cm btn-with-icon mx-auto w-100">
          <i class="mdi mdi-login-variant"></i>
          تغییر رمز عبور
        </button>
      </div>
    </form>
    <div class="form-footer mt-3">
      <div>
        <span class="font-weight-bold">کاربر جدید هستید؟</span>
        <a href="#" class="mr-3 mt-2">ثبت نام در دیدیکالا</a>
      </div>
    </div>
  </div>
  <!-- End main-content -->
{% endblock %}
