{% load static %}
{% load i18n %}

<footer class="main-footer dt-sl">
    <div class="back-to-top">
        <a href="#"><span class="icon"><i class="mdi mdi-chevron-up"></i></span>
            <span>{% trans 'بازگشت به بالا' %}</span></a>
    </div>
    <div class="container main-container">
        <div class="footer-services">
            <div class="row">
                <div class="service-item col">
                    <a href="#" target="_blank"><img src="{% static 'assets/img/svg/delivery.svg' %}"/></a>
                    <p>{% trans 'تحویل اکسپرس' %}</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank"><img src="{% static 'assets/img/svg/contact-us.svg' %}"/></a>
                    <p>{% trans 'پشتیبانی 24 ساعته' %}</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank"><img src="{% static 'assets/img/svg/payment-terms.svg' %}"/></a>
                    <p>{% trans 'پرداخت درمحل' %}</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank"><img src="{% static 'assets/img/svg/return-policy.svg' %}"/></a>
                    <p>{% trans '۷ روز ضمانت بازگشت' %}</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank"><img src="{% static 'assets/img/svg/origin-guarantee.svg' %}"/></a>
                    <p>{% trans 'ضمانت اصل بودن کالا' %}</p>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">{% trans 'راهنمای خرید از تاپ کالا' %}</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">{% trans 'نحوه ثبت سفارش' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'رویه ارسال سفارش' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'شیوه‌های پرداخت' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">{% trans 'خدمات مشتریان' %}</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="{% url 'pages:page_faq_category' %}">{% trans 'پاسخ به پرسش‌های متداول' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'رویه‌های بازگرداندن کالا' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'شرایط استفاده' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'pages:page_privacy' %}">{% trans 'حریم خصوصی' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">{% trans 'با تاپ کالا' %}</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">{% trans 'فروش در تاپ کالا' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'همکاری با سازمان‌ها' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'فرصت‌های شغلی' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'تماس با تاپ کالا' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'درباره تاپ کالا' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="newsletter">
                        <p>{% trans 'از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:' %}</p>
                        <form action="{% url 'pages:newsletter' %}" method="POST">
                            {% csrf_token %}
                            <input dir="rtl" name="email" type="email" class="form-control"
                                   placeholder="{% trans 'آدرس ایمیل خود را وارد کنید...' %}"/>
                            <input type="submit" class="btn btn-primary" value="ارسال"/>
                        </form>
                    </div>
                    <div class="socials">
                        <p>{% trans 'ما را در شبکه های اجتماعی دنبال کنید.' %}</p>
                        <div class="footer-social">
                            <ul class="text-center">
                                <li>
                                    <a href="#"><i class="mdi mdi-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="mdi mdi-telegram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="row">
                <div class="col-12 text-right">
                    <span>{% trans 'هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.' %}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="container main-container">
            <div class="row">
                <div class="site-description col-12 col-lg-7">
                    <h1 class="site-title">{% trans 'فروشگاه اینترنتی تاپ کالا، بررسی، انتخاب و خرید آنلاین' %}</h1>
                    <p>{% trans 'تاپ کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به تاپ کالا با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.' %}</p>
                </div>
                <div class="symbol col-12 col-lg-5">
                    <a href="#" target="_blank"><img src="{% static 'assets/img/symbol-01.png' %}" alt=""/></a>
                    <a href="#" target="_blank"><img src="{% static 'assets/img/symbol-02.png' %}" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container main-container">
            <p>{% trans 'استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.' %}</p>
        </div>
    </div>
</footer>
