<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="prev"><i class="mdi mdi-chevron-double-right"></i></a>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <a href="#" class="active-page">{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}" class="">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next"><i class="mdi mdi-chevron-double-left"></i></a>
        {% endif %}
    </span>
</div>