{% extends 'base_pages.html' %}
{% load blog %}
{% load humanize %}
{% load i18n %}

{% block title %}
    {% trans 'صفحه مقالات' %}
{% endblock %}

{% block body %}
    <!-- Start main-content -->
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row mt-5 pt-5">
                <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-3">
                    <div class="row">
                        {% for blog in page_obj %}
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="post-card">
                                    <div class="post-thumbnail">
                                        <a href="{{ blog.get_absolute_url }}"><img src="{{ blog.image.url }}"
                                                                                   alt="{% trans 'عکس مقاله' %}"/></a>
                                        <span class="post-tag">{% trans 'مقاله' %}</span>
                                    </div>
                                    <div class="post-title">
                                        <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                                        <span class="post-date">{{ blog.published_date|date:'Y/m/d' }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'includes/pagination_section_blog.html' %}
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-3 sidebar sticky-sidebar">
                    {% latest_blog %}
                    <div class="dt-sn dt-sl border-bottom rounded-0 mb-3">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                            <h2>{% trans 'دسته ها' %}</h2>
                        </div>
                        <ul class="category-list">
                            {% category_side_bar %}
                            {# <li> #}
                            {# <a href="#">طراحی سایت</a> #}
                            {# <ul> #}
                            {# <li> #}
                            {# <a href="#">وردپرس</a> #}
                            {# </li> #}
                            {# <li> #}
                            {# <a href="#">پلاگین نویسی</a> #}
                            {# </li> #}
                            {# </ul> #}
                            {# </li> #}
                        </ul>
                    </div>
                    <div class="dt-sn dt-sl border-bottom rounded-0">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                            <h2>{% trans 'برچسبها' %}</h2>
                        </div>
                        <ul class="tag-list">
                            {% tag_side_bar %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->
{% endblock %}
