{% extends 'base_pages.html' %}
{% load static %}
{% load blog %}

{% block title %}
  مقاله {{ blog.title }}
{% endblock %}

{% block body %}
  <!-- Start main-content -->
  <main class="main-content dt-sl mb-3">
    <div class="container main-container">
      <!-- Start title - breadcrumb -->
      <div class="title-breadcrumb-special dt-sl">
        <div class="breadcrumb dt-sl">
          <nav>
            <a href="{% url 'pages:home_page_view' %}">خانه</a>
            <a href="{{ blog.get_category_objects }}">{{ blog.category }}</a>
            <a href="#">{{ blog.title }}</a>
          </nav>
        </div>
        <div class="title-page dt-sl">
          <h1>{{ blog.title }}</h1>
        </div>
        <div class="post-rating">
          <div class="star-rate" data-toggle="tooltip" data-placement="top" data-html="true" title="" data-original-title="<b>۴</b> از ۴ رای">
            <span class="active"></span>
            <span class="active"></span>
            <span class="active"></span>
            <span class="active"></span>
            <span class="active"></span>
          </div>
        </div>
      </div>
      <!-- End title - breadcrumb -->
      <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-3">
          <div class="content-page">
            <div class="content-desc dt-sn dt-sl">
              <header class="entry-header dt-sl mb-3">
                <div class="post-meta date">
                  <i class="mdi mdi-calendar-month"></i>{{ blog.published_date|date:'Y/m/d' }}
                </div>
                <div class="post-meta author">
                  <i class="mdi mdi-account-circle-outline"></i>
                  ارسال شده توسط<a href="#">{{ blog.author.id }}</a>
                </div>
                <div class="post-meta category">
                  <i class="mdi mdi-folder"></i>
                  <a href="{% url 'blog:category_objects' cat_name=blog.category.name %}">{{ blog.category }}</a>
                </div>
                <div class="post-meta category">
                  <i class="mdi mdi-eye"></i>
                  {{ blog.counted_views }} بازدید
                </div>
              </header>
              <div class="post-thumbnail dt-sl">
                <img src="{{ blog.image.url }}" alt="" />
              </div>
              <p>{{ blog.description|linebreaks }}</p>
            </div>
          </div>
          <div class="comments-area dt-sl my-3">
            <div class="dt-sn">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-ui blog-comment">
                    <form action="{% url 'blog:create_comment' blog.slug %}" method="POST">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-12">
                          <div class="form-row-title mb-2">عنوان نظر شما (اجباری)</div>
                          <div class="form-row">
                            <input name="subject" class="input-ui pr-2" type="text" placeholder="عنوان نظر خود را بنویسید" />
                          </div>
                        </div>
                        <div class="col-12 mt-3 mb-3">
                          <div class="form-row-title mb-2">متن نظر شما (اجباری)</div>
                          <div class="form-row">
                            <textarea name="content" class="input-ui pr-2 pt-2" rows="5" placeholder="متن خود را بنویسید"></textarea>
                          </div>
                        </div>
                        <div class="col-12 px-3">
                          <p class="d-block">
                            با “ثبت نظر” موافقت خود را با <a href="#" class="border-bottom-dt" target="_blank">قوانین انتشار محتوا</a> در دیجی‌کالا اعلام می‌کنم.
                          </p>
                          <button type="submit" class="btn btn btn-primary px-3">ثبت نظر</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 mt-5 dt-sl">
              <h2>نظرات کاربران</h2>
              <p class="count-comment">{{ blog.comments.all.count }} نظر</p>
            </div>
            <ol class="comment-list">
              <!-- #comment-## -->
              {% for comment in blog.comments.all %}
                <li>
                  <div class="comment-body mt-3">
                    <div class="row">
                      <div class="col-12 comment-content">
                        <div class="comment-author">توسط {{ user.get_id }} در تاریخ {{ comment.datetime_created|date:'Y/m/d' }}</div>
                        <p>{{ comment.content }}</p>
                        <div class="footer">
                          <div class="comments-likes">
                            آیا این نظر برایتان مفید بود؟
                            <a href="{% url 'blog:like' blog.slug blog.id %}"><button name="like" type="submit" class="btn-like" data-counter="{{ blog.likes.all.count }}">بله</button></a>
                            <a href="{% url 'blog:dislike' blog.slug blog.id %}"><button name="dislike" type="submit" class="btn-like" data-counter="{{ blog.dislikes.all.count }}">خیر</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
              <!-- #comment-## -->
            </ol>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-3 sidebar sticky-sidebar">
          <div class="widget-posts dt-sn dt-sl rounded-0 border-bottom mb-3">
            <div class="title-sidebar dt-sl mb-3">
              <h3>جدیدترین نوشته ها</h3>
            </div>
            <div class="content-sidebar dt-sl">
              {% latest_blog %}
            </div>
          </div>
          <div class="dt-sn dt-sl rounded-0 border-bottom mb-3">
            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
              <h2>دسته ها</h2>
            </div>
            <ul class="category-list">
              {% category_side_bar %}
            </ul>
          </div>
          <div class="dt-sn dt-sl rounded-0 border-bottom">
            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
              <h2>برچسبها</h2>
            </div>
            <ul class="tag-list">
              {% tag_side_bar %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- End main-content -->
{% endblock %}
